<body id="back-ground">
  <div>
    <img src="../assets/images/fruits.PNG" alt="fruits" class="center">
  </div>
</body>
<p> A&A freshly pick fruits and vegetables</p>

<!DOCTYPE html>
<html>

<head>
  <title></title>

</head>

<body>

  <h2>Our Freshest Farmed Grown Produce! Add Your Choice of Cold Foods To Your WishList Today! </h2>
  <div class="coldfoods">

    <ul *ngFor="let coldfoods of coldfoods">
      <table>
        <tr>
          <th>
            <h3>Item Id:{{coldfoods.id}}</h3>
          </th>
          <th>
            <h3>Description</h3>
          </th>
          <th>
            <h3>Price</h3>
          </th>
          <th colspan="2">
            <h3>Wish List</h3>
          </th>
          <th colspan="3">
            <h3>Instock</h3>
          </th>

        </tr>


        <tr>
          <td>
            <img width="700" height="300" [src]='coldfoods.image' />
          </td>
          <td>
            <h3>
              <div class="column">{{coldfoods.name}}</div>
            </h3>
          </td>
          <td>
            <h3>
              <div class="column"> {{coldfoods.price|currency}} PER-TON</div>
            </h3>
           </td>
           <td><button type="button" (click)="addToCart(coldfoods)">
               <div class="column">Add Item</div>
             </button>
           </td>
           <td><button type="button">
               <div class="column">Delete Item</div>
             </button>
            <br>
            <button type="button" routerLink="/cart">
              <div class="column">View Items</div>
            </button>
            </td>
          <td>
            <div class="column">{{coldfoods.instock}} TONS</div>
          </td>

        </tr>
      </table>
    </ul>
  </div>

</body>

</html>