<h2> Your Shopping Cart</h2>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Photo</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Sub Total</th>
  </tr>
  <tr *ngFor="let item of items">
    <td>
      <button (click)="deleteElement(item.times)">Remove: {{item.name}}</button>
    </td>
    <td>{{item.name}}</td>
    <td> <img width="200" height="100" [src]='item.image'></td>
    <td>{{ item.price | currency}}</td>
    <td>{{quantity}}</td>
    <td>{{item.price * quantity | currency}}</td>
  </tr>
  <tr>
    <td colspan="5">
      <h2>Items in Cart: {{totalquantity}}</h2>
    </td>
    <td>
          <h2>Total order price: {{total * quantity | currency}}</h2>
    </td>
  </tr>
</table>
    <h2><button (click)="clearCart()">Clear Cart</button></h2>