<!--The content below is only a placeholder and can be replaced.-->

<body>
  <div class="row">
    <h1>
      🍅{{title}}🥑
    </h1>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-item" routerLink="/">Home</a>
          <a class="navbar-item" routerLink="/dry-foods">Dry Goods</a>
          <a class="navbar-item" routerLink="/cold-foods">Cold Goods</a>
          <a class="navbar-item" routerLink="/cart">🛒Checkout</a>
        </div>
      </div>
    </nav>
  </div>

</body>
<app-project-display></app-project-display>
<router-outlet></router-outlet>