h2{
    text-align:center;
}
    

body{
    color:olivedrab;
    display:flex;
    height:100;
}
table{
    border-width: 100%;
}


tr,td, th {
    
    height:25%;
    border: 1px solid black;
    border-width: 100%;
    text-align:center;
    
    
}