<<<<<<< HEAD

p{
    text-align: center;
    background-color: palegreen;
    border: 2px solid black;
    box-shadow: 2px 5px 2px rgb(166, 166, 166);
    font-size: 40px;
}
#back-ground {

  background-image: url("src/assets/images/wheatfeild.PNG");
  min-height: 600px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;


}
=======

p{
    text-align: center;
    background-color: palegreen;
    border: 2px solid black;
    box-shadow: 2px 5px 2px rgb(166, 166, 166);
    font-size: 40px;
}
#back-ground {

  background-image: url("src/assets/images/wheatfeild.PNG");
  min-height: 600px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;


}
h2 {
  width: 100%;
  border-width: 5px;
  text-align: center;
  border-style: double;
  border-color: rgb(246, 0, 21);
  color: black;
  background-color: lightgreen;
  font-family: fantasy;



}



table {
  border-width: 100%;
}


tr,
td,
th {

  height: 25%;
  border: 1px solid black;
  border-width: 100%;
  text-align: center;


}
>>>>>>> e8683ff1a50efa43dc4787a1e3471f1ade97201c
