<body id="back-ground">
  <div>
    <img src="../assets/images/wheat.PNG" alt="wheat" class="center">
  </div>
</body>
<div>
  <p> A&A Freshly dried grains and nuts</p>
</div>
<!DOCTYPE html>
<html>

<head>
  <title></title>
  <style>
    p {
    display: none;
    background-color: limegreen;
    padding: 20px;
  }
  
   tr td img[width]  :hover  p {
    display: block;
    }
  </style>
</head>

<body>

<h2> Our Different Kinds of Dry Foods Are the Best Your Money Can Buy! Add to Your Checkout Cart Today!</h2>
  <div class="dryfoods">
    <ul *ngFor="let dryfoods of dryfoods">
      <table>
        <tr>
          <th>
            <h3>Item Id:{{dryfoods.id}}</h3>
          </th>
          <th>
            <h3>Description</h3>
          </th>
          <th>
            <h3>Price</h3>
          </th>
          <th colspan="2">
            <h3> Checkout Cart</h3>
          </th>
          <th colspan="3">
            <h3>Instock</h3>
          </th>

        </tr>


        <tr>
          <td>
            
            <img width="1000" height="300" [src]='dryfoods.image' />
            <p>Fleshly Grown Almonds</p>

          </td>


          <td>
            <h3>
              <div class="column">{{dryfoods.name}}</div>
            </h3>
          </td>
          <td>
            <h3>
              <div class="column"> {{dryfoods.price | currency}} PER-TON</div>
            </h3>
          </td>
          <td><button type="button" (click)="addToCart(dryfoods)">
              <div class="column">Add Item</div>
            </button>
          </td>
          <td><button type="button">Delete Item</button>
           <br>
           <button type="button" routerLink="/cart">
             <div class="column">View Items</div>
           </button>
          </td>
            <td>
              <div class="column">{{dryfoods.instock}} TONS</div>
            </td>

        </tr>
      </table>
    </ul>
  </div>

</body>



</html>
