@media (max-width: 550px) {
  img {
    width: 350px;
    height: 350px;
    background-size: cover;
    border-radius: 100px;
    -webkit-border-radius: 150px;
    float: left;

  }
}
p{
    text-align: center;
    background-color: palegreen;
    border: 2px solid black;
    box-shadow: 2px 5px 2px rgb(166, 166, 166);
    font-size: 40px;
}
